In [1]:
import pandas as pd 
import numpy as np

In [2]:
df =pd.read_csv('combined_data.csv')

In [6]:
df['text']

0        ounce feather bowl hummingbird opec moment ala...
1        wulvob get your medircations online qnb ikud v...
2         computer connection from cnn com wednesday es...
3        university degree obtain a prosperous future m...
4        thanks for all your answers guys i know i shou...
                               ...
83443    hi given a date how do i get the last date of ...
83444    now you can order software on cd or download i...
83445    dear valued member canadianpharmacy provides a...
83446    subscribe change profile contact us long term ...
83447    get the most out of life ! viagra has helped m...
Name: text, Length: 83448, dtype: object

In [7]:
df

       label                                               text
0          1  ounce feather bowl hummingbird opec moment ala...
1          1  wulvob get your medircations online qnb ikud v...
2          0   computer connection from cnn com wednesday es...
3          1  university degree obtain a prosperous future m...
4          0  thanks for all your answers guys i know i shou...
...      ...                                                ...
83443      0  hi given a date how do i get the last date of ...
83444      1  now you can order software on cd or download i...
83445      1  dear valued member canadianpharmacy provides a...
83446      0  subscribe change profile contact us long term ...
83447      1  get the most out of life ! viagra has helped m...

[83448 rows x 2 columns]

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df["text"],df['label'],random_state=42,test_size=0.2)

In [9]:
x_train

9381     hi ,\ni sent you an email last week and need t...
11566    i'm taking requests http use perl org petdance...
40822    on escapenumber escapenumber escapenumber tony...
35045    sunday escapenumber a pril escapenumber escape...
38667    sally ,\nattached is the detail of the analyst...
                               ...
6265     anita . from our conversation today with daren...
54886    business highlights\nenron freight markets\nen...
76820    i am rebuilding r in a mandriva linux environm...
860      alternative medicine database over escapenumbe...
15795     escapenumberfxml version escapenumberd escape...
Name: text, Length: 66758, dtype: object